#rootFooter {
    background: #003B46;
    color: #C4DFE6;
}

#rootBadge {
    background: #C4DFE6;
    color: #003B46;
}

.jumbotron {
    background: #C4DFE6;
    border-radius: 5px;
}

.text-hard {
    color: #003B46;
}